* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: #f4f4f4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1c40f;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 20px;
}

#color-box {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    margin: 20px auto;
}

#change-color-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2ecc71;
    border: none;
    color: white;
    border-radius: 5px;
}

#change-color-btn:hover {
    background-color: #27ae60;
}